&
  border: solid 1px foregroundColor
> *
  position: absolute
> .coffeescript
  left: 0
  right: 50%
  top: lineHeight
  resize: none
  border: none
  bottom: outputHeight
  border-radius: slideCornerRadius 0 0 0
  color: foregroundColor
  &:focus
    outline: none
> .error
  left: 50%
  right: 0
  top: 0
  height: lineHeight
  padding: 0 defaultPadding
  background-color: #ddd
  text-align: right
  &.bad
    color: #f00
> .javascript
  left: 50%
  right: 0
  top: lineHeight
  bottom: outputHeight
  border-radius: 0 slideCornerRadius 0 0
  overflow-y: auto
  overflow-x: hidden
  white-space: pre-wrap

> .coffeescript, > .javascript, > .output
  padding: defaultPadding

> .coffeescript, > .javascript, > .error, > .output, .title
  border: solid 1px foregroundColor
  font-family: Menlo, Consolas, monospace
  font-size: 13px
  line-height: lineHeight
  background-color: backgroundColor

> .title
  padding: 0 defaultPadding
  left: 0
  right: 50%
  top: 0
  height: lineHeight
  line-height: lineHeight

> .output
  height: outputHeight
  bottom: 0
  width: 100%
  overflow-x: hidden
  overflow-y: auto
  border-radius: 0 0 slideCornerRadius slideCornerRadius
  > .error
    color: #f00
