*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Helvetica Nueue', 'Helvetica', sans-serif
  background-color: #444
  background-image: url('/static/navy_blue.png')
  height: 100%
  width: 100%

slideMargin = 80px
textHeight = 200px
outputHeight = 200px
pageButtonWidth = 100px
lineHeight = 20px
defaultPadding = 8px

pageButtonHeight = 50px

.deck
  position: absolute
  width: 100%
  height: 100%

  > .prev-button, > .next-button
    position: absolute
    width: pageButtonWidth
    top: 0
    bottom: 0
    background-color: #eee
    box-shadow: 0 0 8px #000
    cursor: pointer
    > i
      position: absolute
      top: 50%
      margin-top: -(pageButtonHeight / 2)
      width: 100%
      display: block
      height: pageButtonHeight
      line-height: pageButtonHeight
      text-align: center
    &:hover
      background-color: #ddd

  > .prev-button
    left: 0
  > .next-button
    right: 0

  > .slides
    padding: slideMargin
    white-space: nowrap
    position: absolute
    left: pageButtonWidth
    right: pageButtonWidth
    overflow: hidden
    height: 100%
    > *
      vertical-align: top
      white-space: normal
      display: inline-block
      width: 100%
      position: relative
      height: 100%
    > .slide
      @import 'slide'
    > .code.slide
      @import 'code-slide'
    > .title.slide
      @import 'title-slide'
    > * + *
      margin-left: slideMargin
