slideMargin = 80px
outputHeight = 300px
pageButtonWidth = 100px
lineHeight = 20px
defaultPadding = 6px
slideCornerRadius = 0
pageButtonHeight = 50px
foregroundColor = #000
backgroundColor = #fff

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Helvetica Nueue', 'Helvetica', sans-serif
  background-color: backgroundColor
  height: 100%
  width: 100%
  color: foregroundColor

.deck
  position: absolute
  width: 100%
  height: 100%
  min-height: 2 * outputHeight + 2 * slideMargin

  > .prev-button, > .next-button
    position: absolute
    width: pageButtonWidth
    top: 0
    bottom: 0
    background-color: backgroundColor
    color: foregroundColor
    cursor: pointer
    > i
      position: absolute
      top: 50%
      margin-top: -(pageButtonHeight / 2)
      width: 100%
      display: block
      height: pageButtonHeight
      line-height: pageButtonHeight
      text-align: center
    &.expected
      background-color: foregroundColor
      color: backgroundColor
    &.expected:hover
      background-color: darken(foregroundColor, 20%)
      color: backgroundColor
    &:hover
      background-color: darken(foregroundColor, 80%)
      color: foregroundColor

  > .prev-button
    left: 0
  > .next-button
    right: 0

  > .slides
    padding: slideMargin
    white-space: nowrap
    position: absolute
    left: pageButtonWidth
    right: pageButtonWidth
    overflow: hidden
    height: 100%
    > *
      vertical-align: top
      white-space: normal
      display: inline-block
      width: 100%
      position: relative
      height: 100%
    > .slide
      @import 'slide'
    > .code.slide
      @import 'code-slide'
    > .title.slide
      @import 'title-slide'
    > * + *
      margin-left: slideMargin
