&
  white-space: normal
  background-color: #f88
  display: inline-block
  width: 100%
  overflow-y: auto
  overflow-x: hidden
  position: relative
  height: 100%
  > *
    position: absolute
  .text
    height: textHeight
    left: 0
    right: 0
    top: 0
  .coffeescript
    left: 0
    right: 50%
    top: textHeight
    background-color: #fff
    resize: none
    border: none
    bottom: outputHeight
    &:focus
      outline: none
  .error
    top: textHeight
    left: 50%
    right: 0
    background-color: #f8f
    height: errorHeight
    color: #888
    text-align: right
    &.bad
      color: #f00
  .javascript
    left: 50%
    right: 0
    top: textHeight + errorHeight
    background-color: #8ff
    bottom: outputHeight
    overflow-y: auto
    overflow-x: hidden
    white-space: pre-wrap

  .coffeescript, .javascript, .error, .output
    font-family: Menlo, monospace
    font-size: 13px
    line-height: errorHeight

  .output
    background-color: #f8f
    height: outputHeight
    bottom: 0
    width: 100%
