&
  text-align: center
  background-color: backgroundColor
  color: foregroundColor
  border: solid 2px foregroundColor
  font-family: Menlo, Consolas, monospace
  > .title
    font-size: 70px
    position: absolute
    top: 50%
    margin-top: -100px
    height: 100px
    width: 100%
    line-height: 100px
    text-transform: smallcaps
  > .subtitle
    position: absolute
    top: 50%
    font-size: 18px
    height: 50px
    line-height: 50px
    width: 100%

