<div class="text">
  {{text}}
</div>
<textarea class="coffeescript">
  {{code}}
</textarea>
<div class="error">
</div>
<div class="javascript">
</div>
<div class="output">
<key>⌘↵</key> or <key>^↵</key> to execute code. <key>⌘L</key> or <key>^L</key> to clear output.
</div>
